<main>
  <form class="form" action="">
    <input
      class="search_input js_searchInput"
      type="text"
      name="text"
      id="text"
      placeholder="Example: Olu Mei"
    />
    <input class="search_btn js_searchBtn" type="button" value="Search" />
  </form>
  <section>
    <h3 class="title">Characters 💙</h3>
    <ul class="list js_list"></ul>
  </section>
  <section>
    <h3 class="title">Favorites 💙</h3>
    <ul class="ul_fav-list js_fav-list"></ul>
  </section>
</main>
