@import 'core/variables';
@import 'core/reset';
//@import 'components/code';
//@import 'components/links';
//@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

.form {
    background-color: white;
    height: 70px;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-50%)translateX(20%);
    box-shadow: 0 0 10px 0 gray;

}
.search_input {
    padding: 5px 250px; 
    border: 3px solid blue;
}

.search_btn {
    background-color: blue;
    color: white; 
    padding: 15px 50px;

}

